---
---
<h3>{{ page.title }}</h3>

<div class="posts">
<h1>{{ post.title }}</h1>
{{ post.date | date: "%a. %d, %b %Y" }}
</div>

<article class="post"> # added class="post">
  {{ content }}
</article> # was article here, trying post below

# duplicating below  to test ----

<h4>**This blog is a WIP project of restoring old posts and unfortunately likely still has quite a few formatting errors throughout; can't say this site is currently indicative of my editing work.**</h4>


<h3>{{ page.title }}</h3>

<div class="posts">
<h1>{{ post.title }}</h1>
{{ post.date | date: "%a. %d, %b %Y" }}

<post> # was article as above and outside of div below, as above
  {{ content }}
</post> # was article as above

</div>