html {
  scroll-behavior: smooth;
}

/* highlighting testimonial */
.highlight {
    background-color: rgb(195, 250, 208);
}





  /* container for very long lines like aside */
  .code-container {
    width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
}

.code-container pre {
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.code-container .NoBGNoWrap {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    white-space: nowrap;
    background-color: transparent; /* Explicitly set background to transparent */
  
}

  .code-container .NoBGButWrap {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    background-color: transparent; /* Explicitly set background to transparent */
}

.code-container .Header {
    margin: 0;
    padding: 0;
    border-radius: 0px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
    background-color: transparent;
  
}    /* end of code containers for long run-on sentence extension */







.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1080px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.gallery a {
  flex: 0 0 calc(33.33% - 10px); /* Adjust width to fit three images per row */
  margin-bottom: 20px; /* Add some space between rows */
}

.gallery img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc; /* Optional: Add border to images */
}



/* Hide the menu by default */
.nav-menu {
  /* display: none; */
  background-color: #333; /* Set background color */
  color: #fff; /* Set text color */
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

/* Styling for the hamburger icon */
.nav-menu-toggle {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff; /* Set text color */
  visibility: visible !important;
}

.nav-menu.open {
  display: flex; /* Display the menu as a flex container when it is open */
  flex-direction: column; /* Stack menu items vertically */
}

/* Styling for the navigation menu */
.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin-bottom: 10px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
}

      /* General styles for the testimonial container */
        .testimonial-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            margin: auto;
            padding: 20px;
            flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
            background-color: white; /* #f8f8f8; Background color */
            position: relative;
           /* Add shadow effect */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* General styles for the images container */
        .images-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            margin: auto;
            padding: 20px;
            flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
        }

        /* Styles for the blockquote */
        blockquote {
            flex: 1;
            text-align: center;
            margin-right: 20px;
            margin-top: 50px;
            padding-top: 20px;
        }

         /* Styles for the audio button */
        .audio-button {
            margin-top: 10px;
            text-align: center;
        }

        /* Button styles */
        .audio-button button {
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        /* Hover effect */
        .audio-button button:hover {
            background-color: #2980b9;
        }

 /* Styles for the next testimonial button */
        .next-testimonial-button {
            padding-bottom: 20px;
            margin-bottom: 20px;
            padding-bottom: 100px;
            text-align: center;
            position: absolute;
            top: 20px;
            right: 20px; /* Align the button horizontally to the center */
 /*   transform: translateX(-50%); /* Move the button back by half of its width to center it */
   /* bottom: -40px; /* Adjust the vertical position as needed */
         }

         /* Styles for the previous testimonial button */
      
        .previous-testimonial-button {
            padding-bottom: 20px;
            margin-bottom: 20px;
            text-align: center;
            position: absolute;
            top: 20px;
            left: 20px; /* Align the button horizontally to the center */
          /*  transform: translateX(-50%); /* Move the button back by half of its width to center it */
            /* bottom: -40px; /* Adjust the vertical position as needed */ 
        }
        

        /* Button styles */
        .next-testimonial-button button,
        .previous-testimonial-button button {
            padding: 10px 20px;
            background-color: #fff;
            color: #333;
            border: 1px solid #333; /* previously none; */
            border-radius: 5px;
            font-size: 16px;
        /*    font-weight: bold; */
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        /* Hover effect for both previous and next buttons */
        .next-testimonial-button button:hover,
        .previous-testimonial-button button:hover {
            background-color: #2980b9;
            color: #fff;
        }


        /* Styles for the image */
        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
          /*  margin-top: 100px; new */
  
        }

.text-and-image-container {
    display: flex;
    align-items: center; /* Align items to the start of the container */

}

.text-container {
    flex: 1; /* Take up remaining space */
    text-align: left;
    margin-right: auto; /* Add space between text and image */
     font-size: 16px; /* Default font size */
    font-family: 'Roboto', sans-serif; /* Default font family */
    /* Add any other default font styles here */
}

.image-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto; /* Adjust width as needed */
    max-width: 25%;
    height: auto; /* Ensure the image doesn't exceed its container */
   /* margin-left: auto;  Add space between text and image */
}

.image-container img {   /* new */
    max-width: 100%; /* Ensure the image doesn't exceed its container, formerly auto */
    height: auto;  
  /* max-height: 200px;  Maintain aspect ratio */
    object-fit: cover; /* Fit the image inside the container, formerly contain*/
   /* margin-left: auto;  Add space between text and image */
    margin-top: 0;
}




  .testimonial-container {            /* containers for testimonial buttons, possibly duplicate */
    position: relative;
    text-align: center; /* centers the text and image */
    margin-bottom: 20px; /* space below the testimonial */
}

.button-container {
    display: flex;
    justify-content: center; /* center the buttons */
    margin-top: 20px; /* space above buttons */
}

.previous-testimonial-button,
.next-testimonial-button {
    margin: 0 10px; /* space between buttons */
}

button {
    padding: 10px 20px; /* button padding for better click area */
    background-color: #007BFF; /* button background color */
    color: white; /* button text color */
    border: none; /* remove border */
    border-radius: 5px; /* rounded corners */
    cursor: pointer; /* change cursor on hover */
}

button:hover {
    background-color: #0056b3; /* darker background on hover */
}


                      
    body {
          font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            color: #333; /* Text color */
            background-color: #f8f8f8; /* or #f4f4f4; Background color */
            /* overflow: hidden;  Prevents scrollbars due to fixed positioning */
            
        }

        h1, h2, h3 {
    color: #007bff; /* Header text color */
}

.marginauto {
    margin: 10px auto 20px;
    display: inline-block;
}

        .circle-container {
            width: auto; /* Adjust the size of the circle container as needed */
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            position: fixed;
            bottom: 20px;
            left: 20px;
            z-index: 10; /* Ensure the circle is above other content */
        }

      .circle-container img {
            width: auto; /* Ensure the image fills the container */
            height: 100%; /* Allow the height to adjust automatically */
            object-fit: cover; /* Maintain aspect ratio and cover the container */
            margin: auto;
            position: relative;
            bottom: 2px;
            left: -2px;
            z-index: 0; /* Ensure the image is not above other content */
        }

.circle-container img:hover {
  transform: none; /* Disable zoom on hover */
}

/* details container, the next 4 divs */
  details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

  /* Media query for smaller screens */
        @media only screen and (max-width: 1059px) {
            .testimonial-container {
                flex-direction: column; /* Stack items vertically on smaller screens */
                align-items: stretch; /* or change to center, Stretch items to full width on smaller screens */
                background-color: white; /* Background color */
                position: relative;
            }

            .images-container {
                flex-direction: column; /* Stack items vertically on smaller screens */
                align-items: stretch; /* or change to center, Stretch items to full width on smaller screens */
                background-color: #f8f8f8; /* Background color */
            }

              .image-container {
        float: none; /* Reset float for smaller screens */
        width: 100%; /* Reset width for smaller screens */
        margin-left: 0; /* Reset left margin for smaller screens */
        margin-top: 20px; /* Add space between text and image on smaller screens */
    }

            blockquote {
                margin-right: 0; /* Remove right margin on smaller screens */
                margin-bottom: 20px; /* Add bottom margin on smaller screens */
                margin-top: 50px;
                padding-top: 20px;
            }

            img {
                margin-top: 20px; /* Add top margin to the image on smaller screens */
            }

             .nav-menu {
              display: block; /* Show the menu */
            }

            .nav-menu li {
              display: block; /* Display menu items vertically */
             }

            .stackedit__right {
              width: 100%; /* Adjust as needed */
            }

            .gallery a {
          flex: 0 0 calc(50% - 10px); /* Adjust width for smaller screens to fit two images per row */
  }
.text-container {
        font-size: 18px; /* Increase font size for smaller screens */
        font-family: 'Roboto', sans-serif; /* Change font family for smaller screens */
        /* Add any other font styles for smaller screens */
    }


          }



                      
